.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

hr.wat{ 
/* margin-top: 50px; */
width: 100%;
border-top: 1px solid #0B9039;
}

.navbar-brand{
color: black;
}

.navbarwrapper{
display: flex;
justify-content: flex-end;
flex-direction: column;
}

.errorcontent{
margin-left: 1rem;
margin-top: 22rem;
}

hr.titleline{
margin-top: 0rem;
margin-bottom: 0rem;
width: 100%;
/* text-align-last: left; */
border-top: 1px solid #0B9039;
}

.photosize{
width: 180px;
height: 240px;
}

.linecontainer{
margin-left: 2%;
width: 300px;
}

.photocontainer{
margin-top: 3rem;
/* align-content: center; */
justify-content: center;
display: flex;
}

.navbarstyle{

}

@media screen and (max-width: 992px) {
.navbarstyle {
  background-color: #A7E89C;
}
}

.depan{
z-index: 100;
}

.homecontainer{
font-size: 40px;
font-family: arial;
padding-top: 380px;
display: inline-block;
padding-left: 30%;
padding-right: 30%;
margin-bottom: 0px;
}

.home3{
font-size: 24px;
}

.greentextbold{
color: #0B9039;
font-weight: 700;
}

.greentext{
color: #0B9039;
}

.aboutcontainer{
margin-left: 10%;
}

.aboutsection{
display: flex;
flex-direction: row;
}

@media screen and (max-width: 992px) {
.aboutsection {
  display: flex;
  flex-direction: column;
}

.aboutcontainerleft{
  width: 100% !important;
}

.aboutcontainer{
  /* width: 0%; */
  margin-left: 10%;
}
}

.title{
font-size: 28px;
}

.aboutcontainerleft{
width: 25%;
}

.aboutdescription{
padding-top: 100px;
/* vertical-align: center; */
width: 100%;
font-size: 18px;
padding-left: 5%;
padding-right: 5%;
}

.educationcontainer{
margin-top: 50px;
margin-left: 10%;
}

.experiencecontainer{
margin-top: 350px;
margin-left: 10%;
opacity: 0;
}

.workcontainer{
margin-top: 100px;
margin-left: 10%;
}

.skillcontainer{
margin-top: 400px;
margin-left: 10%;
}

.bawah{
height: 9300px;
width: 100%;
background-color: #A7E89C;
margin-top: 2rem;
}

.eror{
margin-left: 10%;
/* margin-top: 18rem; */
}

.stlouisphotosize{
position: relative;
margin-top: 60px;
width: 60px;
height: 61.35px;
}

.vertical1{
/* border-left: 1px solid #0B9039; */
height: 60px;

display: initial;
content: '';
position: absolute;
left: 50%;
/* width: 1px; */
height: calc(100% + 2rem);
background-color: #0B9039;
z-index: 0;
}

.vertical{
/* border-left: 1px solid #0B9039; */
height: 60px;

display: initial;
content: '';
position: absolute;
left: 50%;
width: 1px;
height: calc(100% + 2rem);
background-color: #0B9039;
z-index: 0;
}

.wrapper{
/* position: relative; */
/* min-height: 100vh; */
width: 100%;
margin-top: 50px;
}

.homepage{
opacity: 0;
margin-top: 410px;
}

.leftphotosize{
margin-top: 20px;
width: 47px;
height: 47px;
}

.leftnavbar{
margin-top: 300px;
margin-left: 1%;
position: fixed;
}

.educationsection{
font-size: 18px;
display: flex;
flex-direction: column;
}

.educationflexrow{
margin-top: 80px;
display: flex;
flex-direction: row;
}

.educationdescription{
margin-left: 10%;
margin-right: 5%;
margin-top: 0.5rem;
width: 60rem;
}

.educationplace{
margin-left: 2rem;
width: 200px;  
/* width: 25rem; */
/* margin-right: 7rem; */
}

.educationlogo{
position: relative;
margin-left: 4rem;
width: 3rem;
}

.uiphotosize{
position: relative;
width: 3rem;
height: 3rem;
}

.skillswrapper{
display: flex;
flex-direction: row ;
margin-left: 3rem;
margin-top: 1.5rem;
line-height: 3rem;
}

.skillscolumn{
margin-right: 3rem;
width: 14rem;
}

.skillitem{
width: 100%;
}


.apasih{
height: 93px;
width: 100%;
background-color: #A7E89C;
margin-top: 2rem;
}
