{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="static/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- <link href="static/style.css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {% block title %}
    <title>Document</title>
    {% endblock %}
</head>
<body>
    <div class="leftnavbar">
        <div>
            <a href="https://www.facebook.com/andrew.tjondrowidjodjo" target="_blank"> 
            <img src="static/facebook.png" alt="me" class="leftphotosize">
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/andrew-theodore-t/" target="_blank">
            <img src="static/linkedin.png" alt="me" class="leftphotosize">
            </a>
        </div>
        <div>
            <a href="https://twitter.com/AndrewTheodor11" target="_blank">
            <img src="static/twitter.png" alt="me" class="leftphotosize">
            </a>
        </div>
    </div>
    <nav class="navbar fixed-top navbar-expand-lg navbarstyle">
        <button class="navbar-toggler depan" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">   
                <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
            </span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 bg-white" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto bg-white">
            <li><a class="navbar-brand" href="/#home">Home</a></li>
            <li><a class="navbar-brand" href="/#about">About</a></li>
            <li><a class="navbar-brand" href="/#experience">Experience</a></li>
            <li><a class="navbar-brand" href="/#skill">Skills</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block js %}{% endblock %}
</body>
</html>
