{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Andrew Theodore Tjondrowidjojo</title>
{% endblock %}

{% block content %}
<div class="homecontainer">
    <div>Page not found! </div>
    <div>Look like you go to a wrong place!</div>
    <div class="home3"> Click <a href="/#home">
      <span class="greentext">here</span>
    </a> to go back to home page </div>
  </div>

  <div class="errorcontent">

  </div>
  <div class="apasih"> </div>
{% endblock %}