{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Andrew Theodore Tjondrowidjojo</title>
{% endblock %}
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  
    {% block content %}
    <section>
      <div id="home"></div>
      <div class="homecontainer">
        <div>Hi folks!</div>
        <div>My name is <span class="greentextbold">Andrew Theodore </span> </div>
        <div class="home3">I'm a sophomore in <span class="greentext">
            Computer Science
          </span> at <span class="greentext">University of Indonesia</span></div>
      </div>

      <div class="homepage" id="about">
        a
      </div>

      <div class="wrapper">
        <div class="aboutcontainer">
          <div class="title">About Andrew</div>
          <div class="linecontainer">
            <hr class="titleline">
          </div>
          <div class="aboutsection">
            <div class="aboutcontainerleft">
              <div class="photocontainer">
                <img src="static/profile.jpg" alt="me" class="photosize">
              </div>
            </div>
            <div class="aboutdescription">
              <div>
                I'm a junior <span class="greentext">software engineer</span> that loves to learn and explore new things.
                I like to travel around the world especially in nature.
              </div>
              <div>
                I also do competitive programming since I was high school student and I stilldo it until now. For me,
                competitive programming is really fun and interesting.
              </div>
              <div>
                I like to play sport except basketball, and I think as a programmer, sport really help our brain to think.
              </div>
            </div>
          </div>
        </div>
        <div id="experience" class="experiencecontainer">
          a
        </div>
        <div class="educationcontainer">
          <div class="title">Education</div>
          <div class="linecontainer">
            <hr class="titleline">
          </div>
          <div class="educationsection">
            <div class="educationflexrow">
              <div class="educationplace">
                <div>
                  Depok, Indonesia
                </div>
                <div>
                  2018 - present
                </div>
              </div>
              <div class="educationlogo">
                <div>
                  <img src="static/UI.jpg" alt="me" class="uiphotosize">
                </div>
                <div class="vertical">

                </div>
              </div>
              <div class="educationdescription">
                <div>
                  Computer Science Undergraduate Student -
                  <span class="greentext">University of Indonesia</span>
                </div>
              </div>
            </div>
            <div class="educationflexrow">
              <div class="educationplace">
                <div>
                  Surabaya, Indonesia
                </div>
                <div>
                  2018 - present
                </div>
              </div>
              <div class="educationlogo">
                <div>
                  <img src="static/sinlui.png" alt="me" class="uiphotosize">
                </div>
                <div class="vertical1">

                </div>
              </div>
              <div class="educationdescription">
                <div>
                  High School Diploma -
                  <span class="greentext">SMAK St Louis 1 Surabaya</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="workcontainer">
          <div class="title">Work experience</div>
          <div class="linecontainer">
            <hr class="titleline">
          </div>

          <div class="educationsection">
            <div class="educationflexrow">
              <div class="educationplace">
                <div>
                  Jakarta, Indonesia
                </div>
                <div>
                  May 2019 - August 2019
                </div>
              </div>
              <div class="educationlogo">
                <div>
                  <img src="static/stoqo.png" alt="me" class="uiphotosize">
                </div>
                <div class="vertical">
                </div>
              </div>
              <div class="educationdescription">
                <div>
                  Software Engineeer Intern (Full Stack) -
                  <span class="greentextbold">
                    Stoqo
                  </span>
                </div>
                <div>
                  ‣ Improve company’s operation by updating company’s homepage and creating internal tools using React,
                  Redux, Django Rest, Algolia, and Google Maps API.
                </div>
                <div>
                  ‣ Updating the Stoqo landing page using react and redux.
                </div>
                <div>
                  ‣ Implemented new dashboard that allows business people to change order detail.
                </div>
              </div>
            </div>
            <div class="educationflexrow">
              <div class="educationplace">
                <div>
                  Surabaya, Indonesia
                </div>
                <div>
                  January 2019
                </div>
              </div>
              <div class="educationlogo">
                <div>
                  <img src="static/gdp.png" alt="me" class="uiphotosize">
                </div>
                <div class="vertical1">

                </div>
              </div>
              <div class="educationdescription">
                <div>
                  Software Engineer Intern (Front End) -
                  <span class="greentextbold">
                    GDP Labs
                  </span>
                </div>
                <div>
                  ‣ Creating Internal tools with Storybook
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="skillcontainer" id="skill">
          <div class="title">Skills</div>
          <div class="linecontainer">
            <hr class="titleline">
          </div>
          <div class="skillswrapper">
            <div class="skillscolumn">
              <div class="skillitem">
                ‣ Competitive Programming
              </div>
              <div class="skillitem">
                ‣ Data structure and Algorithm
              </div>
              <div class="skillitem">
                ‣ React
              </div>
              <div class="skillitem">
                ‣ Redux
              </div>
              <div class="skillitem">
                ‣ C++ 
              </div>
            </div>
            <div class="skillscolumn">
              <div class="skillitem">
                ‣ HTML
              </div>
              <div class="skillitem">
                ‣ CSS
              </div>
              <div class="skillitem">
                ‣ Django-rest
              </div>
              <div class="skillitem">
                ‣ Python
              </div>
              <div class="skillitem">
                ‣ Javascript
              </div>
            </div>
            <div class="skillscolumn">
              <div class="skillitem">
                ‣ Django
              </div>
              <div class="skillitem">
                ‣ Typescript
              </div>
              <div class="skillitem">
                ‣ Algolia
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="eror">
        <a href="{% url 'error_404' %}" class="greentext">Click this link to see error page</a>
      </div>
      <div class="apasih"> </div>
    </section>
    {% endblock %}